---
title: Gluon CloudLink Service Broker for Pivotal Cloud Foundry
owner: Partners
---

**This topic should begin with a brief description of your product. See below for an example.**

This documentation describes the Gluon CloudLink (GCL) Service Broker for Pivotal Cloud Foundry (PCF).
The GCL Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace.
Developers can bind their applications with their GCL Applications using Apps Manager or the cf CLI.

## <a id='overview'></a>Overview

Gluon CloudLink includes the following key features:

* Feature one.
* Feature two.
* Feature three.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Gluon CloudLink details:</dt>
<dd><strong>Version</strong>: v0.0.1</dd>
<dd><strong>Release date</strong>: April 1, 2017</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.10.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.10.x</dd>
<dd><strong>IaaS support:</strong> AWS</dd>
</dl>

## <a id="reqs"></a>Requirements

Gluon CloudLink Service Broker requires at least one active Gluon CloudLink subscription. Customers interested in
using Gluon CloudLink can obtain a [30 day free trial license](http://gluonhq.com/products/cloudlink/buy/).

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the 
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@gluonhq.com.

## <a id='license'></a>License

**List any license information here.**
