---
title: Gluon CloudLink Service Broker for PCF (Beta)
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
Gluon CloudLink Service Broker for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes the Gluon CloudLink Service Broker for Pivotal Cloud Foundry (PCF).
The Gluon CloudLink Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace.
Developers can bind apps with Gluon CloudLink Applications using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id='overview'></a>Overview

Gluon CloudLink provides services designed specifically to convey traffic between apps (mobile, desktop, embedded)
and back-end or cloud systems. Additionally, Gluon CloudLink offers some common app services such as data synchronization, notification, authentication, and more.

## <a id='features'></a>Features

* Analytics and usage
* Real-time data synchronization
* Enterprise integration
* Media and content management
* Push notifications
* User authentication

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Gluon CloudLink Service Broker for PCF.

<table>
<tr>
	<th>Element</th>
	<th>Details</th>
</tr>
<tr>
	<td>Version</td>
	<td>v0.9.0</td>
</tr>
<tr>
	<td>Release date</td>
	<td>April 19, 2017</td>
</tr>
<tr>
	<td>Compatible Ops Manager version(s)</td>
	<td>v0.9.x, v1.10.x</td>
</tr>
<tr>
	<td>Compatible Elastic Runtime version(s)</td>
	<td>v0.9.x, v1.10.x</td>
</tr>
<tr>
	<td>IaaS support</td>
	<td>AWS, Google Cloud Platform</td>
</tr>
</table>

## <a id="reqs"></a>Requirements

Gluon CloudLink Service Broker requires at least one active Gluon CloudLink subscription. Customers interested in
using Gluon CloudLink can obtain a [30-day free trial license](http://gluonhq.com/products/cloudlink/buy/).

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the 
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@gluonhq.com.
