---
title: Installing and Configuring Gluon CloudLink Service Broker for PCF
owner: Partners
---

This topic describes how to install and configure Gluon CloudLink Service Broker for Pivotal Cloud Foundry (PCF).

##<a id='install'></a> Install and Configure 

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/gluon-cloudlink-service-broker).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of Gluon CloudLink Service Broker.
This adds the tile to your staging area.

1. Click the newly added **Gluon CloudLink Service Broker** tile.

1. From the **Settings** tab, click **Gluon CloudLink Configuration**.

	<%= image_tag("gluon-cloudlink-configuration.png") %>

1. Complete the following fields:
	* **Email address**: Enter the email address you used when purchasing your Gluon CloudLink subscription at https://gluonhq.com.
	* **Password**: Enter the password you used when purchasing your Gluon CloudLink subscription at https://gluonhq.com.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Gluon CloudLink Service Broker tile.
