---
title: Gluon CloudLink Service Broker for PCF Release Notes
owner: Partners
---

##<a id="0-9-1"></a> v0.9.1

**Beta Release Date:** May 16, 2017

Fixes included in this release:

* Fix security vulnerability CVE-2017-4975
* Added buildpack setting

##<a id="0-9-0"></a> v0.9.0

**Beta Release Date:** April 19, 2017

Features included in this release:

* Initial beta release of Gluon CloudLink Service Broker
