---
title: Using Gluon CloudLink Service Broker for PCF
owner: Partners
---

This topic describes how to use Gluon CloudLink Service Broker for Pivotal Cloud Foundry (PCF).

##<a id='intro'></a> Introduction

When a PCF operator installs the Gluon Cloudlink Service Broker for PCF tile, they specific a Gluon account. A Gluon account can have multiple subscriptions, and each subscription is associated with a Gluon Cloudlink app. 

The Gluon Cloudlink Service Broker for PCF creates a service plan in the Marketplace for each Gluon subscription/app. You can create a service instance based on one of these plans and bind the service to your PCF app.

##<a id='using'></a> Bind the Service to Your App

Follow the steps below to bind a the Gluon Cloudlink service to your app using either Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

###<a id='appsman'></a> Create and Bind with Apps Manager

Follow these steps to create and bind a service instance with Apps Manager.

1. In Apps Manager, navigate to the Marketplace and select the **Gluon CloudLink** service. 
Each Gluon CloudLink app is listed as a Plan.
	<%= image_tag("gluon-cloudlink-apps-manager-plans.png") %>
1. Select the plan you want to use to create a service instance. 
	1. Enter an **Instance Name**.
	1. Choose which space in which to make the instance available.
1. Navigate to your app in Apps Manager and click the **Services** tab.
1. From the dropdown menu, select the service instance you created and click **Bind**.
1. Now that the Service Instance is bound to your app, you can find the Gluon CloudLink app credentials the environment variables of your app.
	<%= image_tag("gluon-cloudlink-application-credentials.png") %>

###<a id='cli'></a> Create and Bind with the cf CLI

Follow these steps to create and bind a service instance with the cf CLI.

1. Run `cf marketplace` to list of the plans available for the `gluon-cloudlink-service-broker` service. Each plan
   represents an active subscription for a Gluon CloudLink app.

	<pre class="terminal">
	$ cf marketplace -s gluon-cloudlink-service-broker
	Getting service plan information for service gluon-cloudlink-service-broker as admin...
	OK

	service plan                  description                                                          free or paid
	Gluon CloudLink Application   Gluon CloudLink Application - 45XXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX   free
	</pre>

1. Create a service instance for the plan of your choice by running `cf create-service` and entering the service name, service plan name, and a service instance name. For example:

	<pre class="terminal">
	$ cf create-service gluon-cloudlink-service-broker "Gluon CloudLink Application" "Gluon CloudLink App"
	</pre>

1. Bind the service instance to your PCF app by running `cf bind-service` and entering the name of the app followed by the service instance name. For example:
	<pre class="terminal">
	$ cf bind-service hello-world "Gluon CloudLink App"
	</pre>

1. Run `cf env` to display the credentials for the bound Gluon CloudLink app:

	<pre class="terminal">
	$ cf env hello-world

	Getting env variables for app hello-world in org Gluon / space My Space as admin...
	OK

	System-Provided:
	{
	 "VCAP_SERVICES": {
	  "gluon-cloudlink-service-broker": [
	   {
	    "credentials": {
	     "clientKey": "45XXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
	     "clientSecret": "3eXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
	     "hostname": "https://cloud.gluonhq.com",
	     "serverKey": "MHwwDQ..."
	    },
	    "label": "gluon-cloudlink-service-broker",
	    "name": "Gluon CloudLink App",
	    "plan": "Gluon CloudLink Application",
	...
	</pre>

##<a id='integrating'></a> Integrate Gluon CloudLink

Now that you have bound your PCF app to the Gluon Cloudlink service, refer to the Gluon CloudLink [documentation](http://docs.gluonhq.com/cloudlink) for details on how to integrate
Gluon CloudLink with your app.
